{
  "uVlhM6VHsupswi3yUiOZ": {
    "name": "DSR Legal",
    "ghl_token": "LOCATION_API_KEY_HERE",
    "aircall_api_id": "AIRCALL_API_ID_HERE",
    "aircall_api_token": "AIRCALL_API_TOKEN_HERE"
  },
  "tPx1eFg34SgBkiAjphWp": {
    "name": "Goldburd McCone",
    "ghl_token": "LOCATION_API_KEY_HERE",
    "aircall_api_id": "AIRCALL_API_ID_HERE",
    "aircall_api_token": "AIRCALL_API_TOKEN_HERE"
  },
  "rY966DItZih3XTVkbx6S": {
    "name": "Jeff Jinks",
    "ghl_token": "LOCATION_API_KEY_HERE",
    "aircall_api_id": "AIRCALL_API_ID_HERE",
    "aircall_api_token": "AIRCALL_API_TOKEN_HERE"
  },
  "wt3uRTXoU2oNPw6yZZJt": {
    "name": "Kisch Law",
    "ghl_token": "LOCATION_API_KEY_HERE",
    "aircall_api_id": "AIRCALL_API_ID_HERE",
    "aircall_api_token": "AIRCALL_API_TOKEN_HERE"
  },
  "dPLZ3ILvXBr4KBRmn9tp": {
    "name": "Lancaster Law Firm",
    "ghl_token": "LOCATION_API_KEY_HERE",
    "aircall_api_id": "AIRCALL_API_ID_HERE",
    "aircall_api_token": "AIRCALL_API_TOKEN_HERE"
  },
  "1N13ypRcPC2lJ7uryFVf": {
    "name": "Penn Probate",
    "ghl_token": "LOCATION_API_KEY_HERE",
    "aircall_api_id": "AIRCALL_API_ID_HERE",
    "aircall_api_token": "AIRCALL_API_TOKEN_HERE"
  },
  "bJAwABXZuKl1JDSLP1Xt": {
    "name": "Probate TX",
    "ghl_token": "LOCATION_API_KEY_HERE",
    "aircall_api_id": "AIRCALL_API_ID_HERE",
    "aircall_api_token": "AIRCALL_API_TOKEN_HERE"
  },
  "Wmls9vg0AYpx677CPkPY": {
    "name": "Billings",
    "ghl_token": "LOCATION_API_KEY_HERE",
    "aircall_api_id": "AIRCALL_API_ID_HERE",
    "aircall_api_token": "AIRCALL_API_TOKEN_HERE"
  },
  "ljHPez79Kp0ZLXlmHaph": {
    "name": "Probate & Estates",
    "ghl_token": "LOCATION_API_KEY_HERE",
    "aircall_api_id": "AIRCALL_API_ID_HERE",
    "aircall_api_token": "AIRCALL_API_TOKEN_HERE"
  }
}
